.container {  
    display: grid;
    gap: 25px;
    grid-template-areas:
    "topper"
    "guts"
    "biker"
    "article"
    "footer";
    justify-items: center;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    overflow-wrap: normal;
    }

.topper{
    grid-area: topper;
    width: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
  }


.guts{
    grid-area: guts;
    overflow-wrap: normal;
}

.biker{
    height: 35%;
    width: 576px;
}

.article{
    grid-area: article;
    text-align: center;
    word-wrap: break-word;
}

.footer{
grid-area: footer;
background-color: black;
width: 576px;
color: white;
}