.container {  
    display: grid;
    gap: 1%;
    grid-template-areas:
    "topper"
    "guts"
    "footer";
    justify-items: center;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    }

    .topper{
        grid-area: topper;
        width: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 30px;
      }


.guts{
    grid-area: guts;
    overflow-wrap: normal;
    word-wrap: break-word;
    width: auto;
    align-items: center;
    justify-items: center;
    }

    .article1{
        width: 60%;
    }

.footer{
    grid-area: footer;
    background-color: black;
    width: 100%;
    color: white;
  }

@media(min-width:768px){

    .container{ 
     grid-template-areas:
     "topper topper"
     "guts guts"
     "footer footer";
     }  
     
     .article1{
        width: 60%;
     }

    .footer{
     display: flex;
    }
   
    .social-media{
     display: flex;
     margin-left: auto;
     gap: 3%;
   
    }