.container {  display: grid; min-width: 960px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.5fr;
    grid-template-areas:
    "header header header"
    "featured featured featured"
    "footer footer footer";
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
